<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="DSCIQuote">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main"/>
        <wb-resource deploy-path="/" source-path="/${directory}/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/WebContent"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/resource/profile/default"/>
        <property name="context-root" value="DSCIQuote"/>
        <property name="java-output-path" value="/DSCIQuote/target/classes"/>
    </wb-module>
</project-modules>
